<ion-content>
  <div class="page__background"></div>
  <div class="page__inner-content app__flex-column" justify-content-between>
    <div>
      <ion-button *ngIf="!showSignupForm"
                  icon-only
                  (click)="close()"
                  [@fadeInOnEnter]>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showSignupForm"
                  icon-only
                  (click)="toggleSignupForm()"
                  [@fadeInOnEnter]>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </div>

    <div *ngIf="!showSignupForm"
         class="ion-padding app__flex-column" justify-content-between
         [@fadeInUpOnEnter]>
      <div class="app__flex-column" justify-content-around>
        <div class="page__title">
          <img src="/assets/images/arrent-icon-transparent.png" height="64px" />
          <ion-text color="light">
            <h1>
              Bem-vindo(a) a Arrent
            </h1>
          </ion-text>
        </div>
      </div>
      <div class="app__flex-column" justify-content-center>
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Senha</ion-label>
              <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-text *ngIf="hasUserLoginError" color="danger">
              <p class="ion-padding-top">
                Usuário ou senha inválidos.
              </p>
            </ion-text>
          </ion-card-content>
          <ion-button icon fill="clear" expand="block" (click)="login()">
            Entrar
          </ion-button>
        </ion-card>

        <!--<ion-button icon color="light" shape="round" (click)="loginWithFacebook()">-->
          <!--<ion-icon slot="start" name="logo-facebook"></ion-icon>-->
          <!--Continuar com o facebook-->
        <!--</ion-button>-->

        <ion-button icon fill="outline" color="light" shape="round" (click)="toggleSignupForm()">
          Criar uma conta
        </ion-button>
      </div>
    </div>

    <div *ngIf="showSignupForm"
         class="ion-padding app__flex-column"
         justify-content-center
         [@fadeInUpOnEnter]>
      <form (ngSubmit)="signUp()">
      <ion-card class="ion-no-margin">
        <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Nome Completo</ion-label>
            <ion-input name="user.fullName" [(ngModel)]="user.fullName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" name="user.email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Número do Whatsapp (DDD + Celular)</ion-label>
            <ion-input minlength="11" maxlength="11" type="phone" name="user.phone" [(ngModel)]="user.phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input type="password" name="user.password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
        </ion-card-content>
        <ion-button icon fill="clear" expand="block" type="submit">
          Cadastrar-me!
        </ion-button>
      </ion-card>
      </form>
    </div>
  </div>
</ion-content>
