.page__header {
  position: fixed;
  ion-toolbar {
    --background: transparent !important;
  }
  border: none;
  box-shadow: none;
}

.page__photos-slides {
  background: var(--ion-color-dark);
  max-height: 30vh;
  width: 100%;
  img {
    width: 100%;
  }
}

.page__fixed-footer {
  position: fixed;
  bottom: 0px;
  height: 64px;
  width: 100%;
  padding: 0 16px 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150,rgba(0,0,0,0.07))));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.04);
}
