<ion-header>
  <ion-toolbar align-items-center>
    <div class="page__header-wrapper">
      <input #searchInput autofocus placeholder="Digite algo..." />
    </div>

    <div class="page__round-button" slot="end">
      <ion-icon slot="icon-only" name="close" color="medium"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 class="app__content-title">Buscas recentes</h1>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label>Terras para arrendamento de Soja em Ijuí, RS, Brasil</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="time"></ion-icon>
      <ion-label>Terras para arrendamento Pecuário em Mato Grosso, Brasil</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
