<ion-header>
  <ion-toolbar align-items-center>
    <div class="page__header-wrapper">
      <form (ngSubmit)="search()">
        <input #searchInput
               name="searchQuery"
               [(ngModel)]="searchQuery"
               type="search"
               placeholder="Digite algo..."
               autofocus />
      </form>
    </div>

    <div class="page__round-button" slot="end">
      <ion-icon slot="icon-only" name="close" color="medium" (click)="close()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!searchQuery && recentSearchesList && recentSearchesList.length > 0">
    <h1 class="app__content-title">Buscas recentes</h1>
    <ion-list>
      <ion-item button *ngFor="let recentQuery of recentSearchesList" (click)="search(recentQuery)">
        <ion-icon slot="start" name="time"></ion-icon>
        <ion-label>{{ recentQuery }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!searchQuery && recentSearchesList && recentSearchesList.length === 0">
    <h1 class="app__content-title">Realize a sua primeira busca!</h1>
  </div>
</ion-content>
