// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Arrent Ionic Theme
// ------------------------------------------


// ION-TAB-BAR

ion-tab-bar {
  border-top-width: 2px;
  background: white;
  ion-tab-button {
    ion-label {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
    }

    &:not(.tab-selected) {
      color: #D7D8DA;
      fill: #D7D8DA;
    }
  }
}


// ION-HEADER

ion-header {
  &:after {
    content: none;
    display: none;
  }
  border-bottom: 2px solid var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150,rgba(0,0,0,0.07))));
  box-shadow: 0px 0px 3px rgba(0,0,0,0.04);
}


// ION-SEARCHBAR

ion-searchbar {
  .searchbar-input-container .searchbar-input {
    border-radius: 50px !important;
    padding-inline-end: 0px;
    padding-right: 0px;
    border: 1px solid rgba(0,0,0,0.07);
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.12);
    font-size: 12px;
    font-weight: bold;
  }
  padding: 3px 24px !important;
}


// ION-CARD

ion-card {
  box-shadow: 0px 2px 6px rgba(0,0,0,0.16) !important;
  --background: white !important;
}

ion-item {
  ion-label {
    white-space: inherit !important;
  }
}

.app__content-title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.app__main-router {
  pointer-events: none;
}

.app__flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__flex-auto {
  flex: 1 1 auto;
}

ion-button {
  text-transform: none;
  --box-shadow: 0px 2px 6px rgba(0,0,0,0.16) !important;

  &[icon-only] {
    --background: transparent;
    --border-radius: 100px;
    --box-shadow: none !important;
    height: 55px;
  }
}

